.tab-friend-wrap{
  .add-friend-container{
    position: relative;
    .add-friend-item{
      padding: 1vw 0;
    }
    .invite-friend-item{
      .ant-avatar{
        height: 8vw!important;
        width: 8vw!important;
        border-radius: 5vw!important;
        border-width: 0!important;
        img{
          margin: 1vw!important;
          width: 6vw!important;
          height: 6vw!important;
        }
      }
      .ant-row-flex{
        height: 13.33vw;
        line-height: 13.33vw;
        .ant-col-4{
          text-align: center;
        }
        .ant-col-14{
          font-size: 4vw;
          color: white;
        }
        .ant-col-6{
          button{
            padding: 0;
            font-size: 3.5vw;
            color: white;
            background-color: #4fbf16;
            border-width: 0;
            border-radius: 1vw;
            height: 6vw;
            width: 18vw;
          }
        }
      }
    }
    .invite-friend-item:first-child{
      .ant-avatar{
        background-color: #0db80d;
      }
    }
    .invite-friend-item:nth-child(2){
      .ant-avatar{
        background-color: #018fee;
      }
    }
    .invite-friend-item:last-child{
      .ant-avatar{
        background-color: #f86200;
      }
    }
    .no-checked{
      background: -webkit-linear-gradient(top,#614fae 0,#5d4baa 100%)!important;
      background: -moz-linear-gradient(top,#614fae 0,#5d4baa 100%)!important;
      background: -o-linear-gradient(top,#614fae 0,#5d4baa 100%)!important;
      background: linear-gradient(to bottom,#614fae 0,#5d4baa 100%)!important;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#614fae,endColorstr=#5d4baa,GradientType=0)!important;
    }
    .add-friend-item,.invite-friend-item{
      height: 13.33vw;
      margin-bottom: 1vw;
      border-radius: 1vw;
      background: -webkit-linear-gradient(top,#7664c2 0,#6653b4 100%);
      background: -moz-linear-gradient(top,#7664c2 0,#6653b4 100%);
      background: -o-linear-gradient(top,#7664c2 0,#6653b4 100%);
      background: linear-gradient(to bottom,#7664c2 0,#6653b4 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7664c2,endColorstr=#6653b4,GradientType=0);
      .level-card{
        display: inline-block;
        text-align: center;
        width: 13vw;
        height: 5vw;
        line-height: 5vw;
        //font-size: 6px!important;
        font-size: 3vw;
        background-color: #f6f62f;
        color: #6d4c9d;
        border-radius: 1vw;
        margin-right: 2vw;
      }
      .add-friend-name{
        font-size: 3vw;
        display: inline-block;
        height: 5vw;
        line-height: 5vw;
        color: #f6f62f;
      }
      .ant-avatar{
        margin-left: 3vw;
        border: 1px solid white;
        border-radius: 2vw;
        width: 10.9vw;
        height: 10.9vw;
        svg{
          font-size: 10vw;
        }
      }
      .anticon-star{
        margin-top: 1vw;
        font-size: 4vw;
        color: #f6f62f;
        margin-right: 2vw;
      }
      .ranking{
        display: inline-block;
        color: #a59bd3;
        font-size: 3vw;
        margin-top: -10vw;
      }
      .ant-checkbox-wrapper{
        float: right;
        margin-right: 6vw;
        margin-top: 20%;
        .ant-checkbox{
          width: 5vw;
          height: 5vw;
          border-radius: 50%;
          .ant-checkbox-input{
            width: 5vw;
            height: 5vw;
            border-radius: 50%;
          }
          .ant-checkbox-inner{
            width: 5vw;
            height: 5vw;
            border-radius: 50%;
          }
        }
        .ant-checkbox-checked{
          .ant-checkbox-inner{
            background-color: #4abd12;
            position: relative;
            border: 1px solid #4abd12;
          }
        }
        .ant-checkbox-inner:after{
          top: 15%;
          left: 35%;
          position: absolute;
          width: 2vw;
          height: 3vw;
        }
      }
    }
    .operation-button{
      width: 100vw;
      text-align: center;
      position: fixed;
      bottom: 2vh;
      height: 10vw;
      line-height: 10vw;
      left: 0;
      button{
        padding: 0!important;
        width: 20vw;
        height: 8vw;
        font-size: 3vw;
        background-color: #4abd12;
        color: #fff;
        border-radius: 1vw;
        border-width: 0;
        margin-right: 5vw;
      }
      .refresh{
        position: absolute;
        top: 20%;
        display: inline-block;
        width: 5vw;
        height: 5vw;
        border-radius: 2.5vw;
        background-color: #4abd12;
        background-image: url("../../../layouts/image/refresh.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80% 80%;
        //transform: rotate(0deg);
      }
      .refresh-active{
        transform: rotate(360deg);
        transition-duration: 0.5s;
        //animation: fireworks 0.5s;
      }
      //.fireworks-active{
      //  img{
      //    transform: scale(1);
      //    animation: fireworks 2s;
      //    opacity: 1;
      //    //transition: opacity 1s,width 1s,height 1s;
      //    width: 100%;
      //    height: 100%;
      //  }
      //}
      //@keyframes fireworks{
      //  from{
      //    transform: rotate(0deg);
      //  }
      //  to{
      //    transform: rotate(360deg);
      //  }
      //}
      .ant-checkbox-wrapper{
        position: absolute;
        top: 50%;
        right: 15%;
        transform: translateY(-60%);
      }
    }
  }
  .check-all{
    margin-top: -2%;
    button{
      font-size: 3vw;
      width: 20vw;
      height: 8vw;
      padding: 0;
    }
    .ant-checkbox-wrapper{
      margin-top: -1%;
    }
  }
  .ant-checkbox{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    .ant-checkbox-input{
      width: 5vw;
      height: 5vw;
      border-radius: 50%;
    }
    .ant-checkbox-inner{
      width: 5vw;
      height: 5vw;
      border-radius: 50%;
    }
  }
  .ant-checkbox-checked{
    .ant-checkbox-inner{
      background-color: #4abd12;
      position: relative;
      border: 1px solid #4abd12;
    }
  }
  .ant-checkbox-inner:after{
    top: 15%;
    left: 35%;
    position: absolute;
    width: 2vw;
    height: 3vw;
  }
  .rank-info{
    .rank-my-info{
      margin-top: 65vh;
      //position: fixed;
      //bottom: 5vh;
      //left: 50%;
      //transform: translateX(-50%);
      text-align: center;
      .info-name{
        font-size: 5vw;
        margin-bottom: 1vw;
        color: white;
      }
      p{
        color: white;
      }
    }
  }
}