.rank-list-wrap{
  background-color: #3d3470;
  width: 100vw;
  height: 100vh;
  .rank-list-container{
    margin: 2.8vh auto;
    height: 71.06vh;
    width: 92.26vw;
    background-color: #5846a5;
    border-radius: 2vw;
    .ant-tabs-bar{
      border-bottom: 1px dashed #7a7a7a;
    }
    .ant-tabs-tabpane{
      height: 55vh;
    }
    .ant-tabs{
      width: 89.36%;
      margin: 0 auto;
      .ant-tabs-nav{
        width: 100%;
        .ant-tabs-tab{
          font-size: 4vw;
          color: white;
          width: 50%;
          text-align: center;
          margin: 0;
        }
        .ant-tabs-tab-active{
          font-size: 5vw;
          position: relative;
        }
      }
    }
    .ant-tabs-ink-bar{
      left: 18vw;
      width: 0!important;
      height: 0!important;
      background-color: transparent;
      display: block;
      border-width:0 2vw 2vw;
      border-style:solid;
      border-color:transparent transparent #fff;/*透明 透明  灰*/
    }
  }
  .rank-info{
    .rank-my-info{
      //margin-top: 65vh;
      position: fixed;
      bottom: 5vh;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      .info-name{
        font-size: 5vw;
        margin-bottom: 1vw;
        color: white;
      }
      p{
        color: white;
      }
    }
  }
}