.pay-wrap{
  .ant-radio-group{
    width: 100vw!important;
    .ant-radio-wrapper{
      width: 100vw;
      height: 7vh;
      line-height: 7vh;
      padding-left: 10vw;
      .ant-radio{
        //float: left;
        margin-right: 2vw;
      }
      .pay-name{
        display: inline-block;
        width: 80%;
        color: white;
      }
      .border-pay{
        border-bottom: 1px dashed #7a7a7a;
        border-top: 1px dashed #7a7a7a;
      }
    }
  }
}