.my-medal-wrap{
  width: 100vw;
  height: 100vh;
  background-color: #3d3470;
  .my-medal-container{
    margin: 0 auto;
    width: 92.5vw;
    height: 72vh;
    border-radius: 3vw;
    background-color: #5846a5!important;
    padding: 0;
    overflow: visible;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)!important;
    border: 0.5px solid #4c4c4c;
    box-shadow: 0 0 5px 1px #826da8 inset;
    .my-medal-content{
      padding: 0;
      border: 0.5px solid #343434;
      border-radius: 3vw;
      width: 98% !important;
      height: 100%;
      position: absolute;
      top: -1px;
      left: 1%;
      margin: 0;
      .ant-tabs{
        margin-top: 15vh;
        .ant-tabs-tab{
          border-top-left-radius: 3vw;
          border-bottom-left-radius: 3vw;
          width: 10vw;
          padding: 3vw;
          font-size: 4vw;
          line-height: 7vw;
          color: #d3c69f;
          height: 20vw;
          margin-left: 5vw;
          background-color: #4c3b94;
          writing-mode:lr-tb;
          white-space:normal;
          word-break:break-all;
          word-wrap:break-word
        }
        //.ant-tabs-nav-wrap{
        //  margin-right: 0;
        //}
        .ant-tabs-tab-active{
          background-color: #7962cf;
          text-shadow:#5e4850 1px 0 0,#5e4850 0 1px 0,#5e4850 -1px 0 0,#5e4850 0 -1px 0;
        }
        .ant-tabs-bar{
          border-width: 0;
          .ant-tabs-nav-container{
            margin-right: 0px;
          }
        }
        .ant-tabs-nav{
          margin-top: 5vh;
        }
        .ant-tabs-content{
          border-left-width: 0;
          background-color: #7962cf;
          height: 47.75vh;
          width: 70vw;
          border-radius: 3vw;
          position: relative;
          z-index: 9999;
          padding: 6vw;
        }
        .ant-tabs-ink-bar{
          display: none!important;
        }
        .ant-tabs-tabpane{
        }
      }
    }
  }
}