body{
  background-image: url("../../layouts/image/bg.jpg");
}
.ant-message{
  position: fixed!important;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
  .ant-message-notice-content{
    padding: 1vw 2vw!important;
    border-radius: 5vw!important;
    background-color: rgba(0,0,0,0.5)!important;
    color: white!important;
  }
}